<h1>Edit <%= @todo.title %></h1>

<form action="/todos/<%= @todo.id %>" method="post">
  <input type="hidden" name="_method" value="patch">

  <br>
  <div>
    <label for="title">Title</label>
    <input type="text" name="todo[title]" id="title" value="<%= @todo.title %>">
  </div>
  <br>
  <div>
    <label for="completed">Completed: </label>
    <input type="checkbox" name="todo[completed]" id="completed" <%= 'checked' if @todo.completed %>>
  </div>
  <br>
  <input type="submit" value="Update Todo">
</form>